// ================ ABOUT SECTION START =============

.about {
    width: 100%;
    min-height: 450px;

    &-tech {
        display: flex;
        justify-content: space-between;
        min-height: 375px;

    }

    &-image {
        position: relative;
        width: 50%;

        & img {
            position: absolute;
            width: 480px;
            height: 320px;

            .about-image img {
                position: absolute;
                width: 480px;
                height: 320px;
            }
        }

        &-info {
            display: flex;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(8px);
            border-radius: 20px;
            position: absolute;
            width: 197px;
            height: 104px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            right: 50px;
            top: 260px;
        }

    }

    &-h3 {
        background: transparent;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
    }

    &-h5 {
        background: transparent;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
    }

    &-info {
        width: 50%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: flex-start;
        flex-direction: column;

        &-title {
            margin-top: 50px;
        }

        &-description {
            margin: 24px 10px;
        }
    }

    .btn {
        width: 149px;
        height: 50px;
        background: #4177dc;
        border-radius: 4px;
        border: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #ffffffff;
    }
}

// ================ ABOUT SECTION END =============

@media only screen and (max-width:768px) {
    .about {
        width: 100%;
        min-height: auto;

        &-tech {
            display: block;
            min-height: 375px;

        }

        &-image {
            width: 100%;

            & img {
                position: relative;
                width: 100%;
                object-fit: cover;
                object-position: center;

                .about-image img {
                    position: absolute;
                    width: 480px;
                    height: 320px;
                }
            }

            &-info {
                right: 0;
            }

        }


        &-info {
            width: 100%;



            &-description {
                margin: 24px 0;
            }
        }

    }

}

// ================ ABOUT SECTION END =============